html, body {
  font-family: Helvetica;
  text-align: center;
  display: flex;
}

h1 {
  font-size: 20px;
}

p {
  font-size: 15px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
