html, body {
  height: 100%;
  font-family: Helvetica;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

h1, p {
  font-size: 20px;
}
